.ilk {
    width: 150px;
    height: 150px; 
    background-color: red; 
    transition: 0.5s;
}
.ilk:hover {
    width: 250px; 
    height: 500px;
}
.ikinci {
    width: 150px;
    height: 150px; 
    background-color: yellow; 
    transition: width 2s, height 2s, transform 2s;
}
.ikinci:hover {
    width: 300px;
    height: 300px;
    transform: rotate(360deg);
}
