/* 
text-shadow
box-shadow

*/
h4 {
    text-shadow: 2px 2px 5px red;
}
 
.box1 {
    background-color: rgb(157, 157, 247);
    width: 250px;
    height: 100px;
    box-shadow: 0 0 5px yellow; 
}
.box2 {
    width: 250px; 
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.ic {
    border: 2px solid rgba(0, 0, 0, 0.4);
    padding: 20px;
    text-align: center;
}