ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
li {
    float: left;
}
li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 20px;
    text-decoration: none;
}
li a:hover {
    background-color: black;
}
.ana {
    background-color:red;
}
.cikis {
    float: right; 
    background-color: red;
}