.a-container {
    display: flex;
    justify-content: center;
    background-color: dodgerblue;
}
.a-container > div {
    width: 100px;
    background-color: gainsboro;
    text-align: center;
    line-height: 50px;
    padding: 10px;
    margin: 10px;
    font-size: 25px;
}
/* 
justify-content: center; Flex-start değeri, flex öğeleri kabın başlangıcında hizalar (bu varsayılandır):
justify-content: center; Flex-end değeri, esnek öğeleri kabın sonundaki hizalar: */ 

.b-container {
    display: flex; 
    justify-content: space-around; 
    /* The space-around value displays the flex items with space before, between, and after the lines: */
    background-color: gold;
}
.b-container > div {
    background-color: indigo;
    color: white;
    width: 100px;
    text-align: center;
    padding: 20px;
    line-height: 25px;
    font-size: 25px; 
} 
.c-container {
    display: flex; 
    justify-content: space-between;
    background-color: violet;
}
.c-container > div {
    width: 100px;
    background-color: rgb(202, 159, 159);  
    text-align: center;
    padding: 20px;
    line-height: 25px;
    font-size: 25px;
}
.merkez {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    background-color: DodgerBlue;
/* mükemmel merkezleşme: cismin bulunan alanın tam ortasına konumlandırılması sağlanır. */
}
.merkez > div {
    background-color: #f1f1f1; 
    color: white;
    width: 100px;
    height: 100px; 
    text-align: center;
    color: black;
    
}