* {
    box-sizing: border-box;
}
.ana {
    background-color: rgb(182, 65, 94);
    padding: 50px; 
    text-align: center; 
    font-size: 25px;   
    
}
section {
    display: -webkit-flex;
    padding: 0; 
}
nav {
    -webkit-flex: 1; 
    -ms-flex: 1;
    flex: 1;
    background: rgb(68, 108, 192);
    padding: 20px;
} 
nav  ul {
    list-style-type: none;
    padding: 0;
}